NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_TOKEN=
RESEND_API_KEY=
RESEND_NEWSLETTER_TOPIC_ID=
RESEND_FROM_EMAIL="Court Report <newsletter@example.com>"
NEXT_PUBLIC_SITE_URL=https://court-report.example
